h1,h2{
    color: rgb(23, 82, 133);
    background-color: lavender;
    font-family: 'Lato', sans-serif;
    align-items: center;

}
.presidentes{
    background-color: rgba(224, 225, 231, 0.877);
    display: flex;
    align-content: center;
    align-items: center;
    width: 30%;
    margin-left: 30%;
    border-radius: 5px;
    padding: 1px;
    padding-left: 10%;

    margin-bottom: 2rem;
}
.selector{
    background-color: rgb(194, 193, 193);
    display: flex;
    align-content: center;
    align-items: center;
    width: 30%;
    margin-left: 30%;
    border-radius: 5px;
    padding: 4px;
    padding-left: 10%;
    font: 'Lato';
    margin-bottom: 3rem;
}
.opciones_pesos{
    
    width: 22%;
    border: 1px solid ;
    border-color:  rgb(23, 82, 133);
    border-radius: 6px;
    padding: 2%;
    margin-left: 40%;
    position: static;    
}
.boton{
    display: flex;
    justify-content: center;
    width:20%;
    margin-left: 43%;
    background-color: rgb(128, 142, 223);
    color: beige;
    height: 3rem;
    justify-items: center;
    padding-top: 1%;
    position: absolute;
    margin-top: 4rem;
}
#moneda:active .opciones_pesos{
    display: flex;
}
#superficie{
    width: 5rem;
    height: 5rem;
    background-color: rgba(45, 63, 221, 0.664);
    color: deeppink;
} 
#informe{ 
    margin-top: 10rem;
}