/* fondo:  #aeb1b6
inferior derecho: #43434d
superior izquierdo:#dddfe2 
label y footer: rgba(224, 107, 11, 0.76)
rgb(65, 63, 63)
texto del boton: (202, 117, 48)
option text:rgb(187, 184, 184)*/


h1,h2{
   
    
    align-items: center;

}
#fondo{
    display: flex;
    position: relative;
    width: auto;
}

body{  background: #aeb1b6;
overflow-x: auto;}

    .container{
        display: block;
        height: calc(100vh - 50px);
        min-width: 400vw;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    /* body span{display: inline-block;
		color: grey;
		font-weight: 300;
} */





    .form{
    display: inline-block;
    position: absolute;
    border-radius: 65px;
    
    background:  #aeb1b6;
    box-shadow: 38px 38px 64px #43434d, -38px -38px 64px #dddfe2;
min-width: 200px;
width:100vw;
align-content: center;
}
.form label,footer{
    display: flex;
    color: #0c0c0e ;
    font-family: Roboto;
    font-size: 21px;
    margin-left: 7%;
}
#opcionPresidencias {
   margin-top: 5%;
    margin-left: 0px;
    max-width: 60%;
    height: 2rem;
    border-radius: 2em;
    color: rgb(59, 58, 58);
    background:transparent;
    box-shadow: 4px 4px 15px #43434d, -38px -38px 64px #dddfe2;
}
.presidentes{
    position: relative;
    justify-content: center;
    margin: 0%20%3%5vw;
    padding-top: 4%;
    width: fit-content;
}
.form select{
    position: relative;
    display: flex;
    margin: 0%20%3%45%;
    background: transparent;
    box-shadow: 4px 4px 15px #18181a, -38px -38px 64px #4a4a4b;
    color: rgb(58, 56, 56);
    height: 2rem;
    border-radius: 2em;
    border-color: transparent;
}
.form .boton{
position: relative;
background: transparent;

box-shadow: 38px 38px 64px #88888d, -38px -38px 64px #4a4a4b;
color: rgb(202, 117, 48);

border-radius: 2em;
border-color: transparent;
margin: 0%20%3%40%;
width: 25vw;
height: 2vw;

}

.form footer {
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 5%;
}
.form input{
    position: relative;
    display: flex;
    justify-content: center;
    background: transparent;
    box-shadow: 4px 4px 15px #18181a, -38px -38px 64px #4a4a4b;
    color: rgb(63, 60, 60);
    height: 2rem;
    border-radius: 2em;
    border-color: transparent;
    width:  inherit;
    margin-bottom: 2%;
}

#seccion-grafico{
    overflow-x: auto;
    display: none;
    width: 100vw;
    justify-content:center;
    align-content: stretch;
    position: absolute;
    transform: translateX(200%);
    border-radius: 65px;
    background:#26282B;
    box-shadow: 38px 38px 64px #18181a, -38px -38px 64px #4a4a4b;


}
#seccion-grafico li{
    display: inline-grid;
    list-style: none;
    position: relative;
    max-width: max-content;
    width: 25vw;
    margin-left: -4%;
}

#seccion-grafico p{
    color: rgb(202, 117, 48);
}
#estacion-espacial{
    display: flex;
    height: 210px;
    width: 1vw ;
    border: 1px solid navajowhite;
}
#seccion-grafico figure{
    display: flex;
    height: 210px;
    width: 1vw;
    border: 1px solid navajowhite;
    border-radius: 0px 0px 7px 7px;
    background-color: rgba(236, 236, 232, 0.712);
    box-shadow: 0px -1px 18px -3px #dddfe2;
}
#informe ol{
   
    position: relative;
    font-family:  sans-serif;
    color: rgba(0, 0, 0, 0.74);
    font-style: oblique;
    font-size: 1.2rem;
}
@media only screen and (max-width: 767px) {
    .form{ width:96%;}
    .seccion-grafico li{
    display: table-cell;
    list-style: none;
    position: relative;
    width: 1vw;
}
#seccion-grafico li{ width: 19vw;}
#informe ol{font-size: 0.8rem;}
#seccion-grafico footer{
    width: inherit;
    font-size: x-small;
}}
#seccion-grafico footer{
    color: beige;
    
    
}
#informe{
    display: none;
    width:100vw;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    transform: translateX(100%);
    translate: traslateY(100%);
   
}
#informe li{list-style: none;
position: relative;
display: grid;
width: fit-content;
margin-left: 1%; }
#fuente{
    margin-left: inherit;
}
#informe p{
    display: inline-flex;
    justify-content: center;
    color: rgb(223, 221, 219);
    
}

#informe ol img{
    width: 15vw;
    
    border-radius: 3%;
    box-shadow: 3px 3px 3px #18181a, -3px -5px 5px #ccccd3;
}
#cara-presidente{
    position: relative;
    display: flex;
    width: 9em;
    height: 8em;
    justify-content: center;
    align-self: center;
border-radius: 50%;
background:#26282B;
box-shadow: 4px 4px 15px #18181a, -4px -4px 15px #f7f7f7;
margin-top: 3%;
}
.caja{
    display: inline-block;
    position: absolute;
}